div.customize * h1 {font-size:1.5em; font-weight:bold;}
      
div.customize * p {text-align:justify;}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 80px;
    border-top: 1px solid #403B4A;
    background-color: ##E7E9BA;
}

.footer p {
    margin-bottom: 0;
    color: #777;
}
	 
.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}

.footer-links li:first-child {
    padding-left: 0;
}
