<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Hassan Abedi - {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.github.js" type="text/javascript" charset="utf-8"></script>
    <link rel='alternate' type='application/rss+xml' href='http://feeds.feedburner.com/JoinTheConversation' />
    
    <!-- START COPYING HERE -->
    <link rel="stylesheet" href="/css/gh-fork-ribbon.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/css/gh-fork-ribbon.ie.css">
    <![endif]-->
    <!-- END COPYING HERE -->
    
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1>meBlog</h1>
        <h2>stand tall and shake the heaven;0)</h2>
      </div>
      <div id='menu'>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/archive.html'>Archive</a></li>
          <li><a href='https://www.researchgate.net/profile/Hassan_Abedi' target='_blank' rel='me'>Researchgate</a></li>
         <!-- <li><a href='http://bitbucket.org/habedi' target='_blank' rel='me'>BitBucket</a></li>-->
          <li><a href='http://github.com/habedi' target='_blank' rel='me'>GitHub</a></li>
          <li><a href='http://www.linkedin.com/in/habedix11' target='_blank' rel='me'>LinkedIn</a></li>
          <li><a href='http://twitter.com/hassan_abedi' target='_blank' rel='me'>Twitter</a></li>
          <li><a href='/about.html'>About me</a></li>
        </ul>
      </div>
      <div id='content'>
        {{ content }}
        <div class='clearfix'></div>
      </div>
      
        <p>Comments:</p>
  
  <div id="disqus">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      // var disqus_developer = 1;
      var disqus_shortname = 'habedigithubio';
      var disqus_identifier = '{{ page.id }}';
      var disqus_url = 'http://habedi.github.com{{ page.url }}';
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    
    </script>
  </div>
  
  <noscript>
    Please enable JavaScript to view the <a
    href="http://disqus.com/?ref_noscript">comments powered by
    Disqus.</a>
  </noscript>
      
    </div>

   <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61031899-1', 'auto');
  ga('send', 'pageview');

</script>
    <!-- Google Analytics end -->
  
  <div id='footer'>
      Copyright &copy; 2009 Scott Chacon. Theme and code by <a href="http://github.com/mbleigh">Michael Bleigh</a>. Hosted by <a href='https://github.com/habedi/habedi.github.io' target='_blank'>GitHub</a> and powered by <a href='http://github.com/mojombo/jekyll'>Jekyll</a>.
    </div>
  
  </body>
</html>
